/* RESET */
body{
    margin: 0;
    padding-top: 60px;
    font-family: system-ui, sans-serif;
}

/* HEADER */
.site-header{
    text-align: center;
    background-color: lightgray;
    padding: 20px;
}

.site-header h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.intro{
    font-size: 18px;
    color: blue;
}

/* NAVBAR */
.navbar{
    display: flex;
    list-style: none;
    background-color: lightgreen;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar li a{
    padding: 14px 16px;
    display: block;
    text-decoration: none;
    color: black;
}

.navbar li a:hover{
    background-color: #0aaa0f;
}

/* DROPDOWN */
.dropdown-content{
    display: none;
    position: absolute;
    background: white;
    list-style: none;
    padding: 0;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* MAIN LAYOUT */
.main-content{
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* ASIDE */
.container{
    width: 25%;
    background-color: #d9ffd9;
    padding: 15px;
}

/* ABOUT */
.about{
    width: 75%;
    background-color: #8df08d;
    padding: 20px;
    border-radius: 8px;
}

/* FOOTER */
.site-footer{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding: 10px 20px;
}
